In [1]:
import pandas as pd

In [2]:
s = pd.Series(['apple',42])
print(s)

0    apple
1       42
dtype: object

In [4]:
s = pd.Series(['banana',100], index=['Fruit' ,'count' ]) #인덱스를 지정도 가능 
print(s)

Fruit    banana
count       100
dtype: object

In [7]:
#loc 과 iloc 접근 복습
print(s.iloc[1])
print(s.loc['Fruit'])

100
banana

### 데이터 프레임 만들기

In [12]:
# 딕셔너리를 넣어줘야함 

person_dict = {'name':['a','b','c'],'age':[12,15,14],'weight':[40,50,60] }
person = pd.DataFrame(person_dict, index=[1,2,3],columns=['age','name','weight'])
# 인덱스를 직접 변경 , 열의 순서도 직접 변경 

print(person)

   age name  weight
1   12    a      40
2   15    b      50
3   14    c      60

In [13]:
from collections import OrderedDict
person = pd.DataFrame(OrderedDict(person_dict)) #순서가 보장된 딕셔너리 
print(person)

  name  age  weight
0    a   12      40
1    b   15      50
2    c   14      60

### 시리즈 다루기 - 기초

In [22]:
s_dict={
           'Occupation': ['Chemist', 'Statistician'],
           'Born': ['1920-07-25', '1876-06-13'],
           'Died': ['1958-04-16', '1937-10-16'], 
           'Age': [37, 61]
}
            
scientists = pd.DataFrame(s_dict,index = ['Rosaline Franklin', 'William Gosset'] ) 
    
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [23]:
first_row = scientists.loc['Rosaline Franklin']
print(first_row)

Occupation       Chemist
Born          1920-07-25
Died          1958-04-16
Age                   37
Name: Rosaline Franklin, dtype: object

In [29]:
#index 
print(first_row.index) #인덱스
print(first_row.keys()) # 이것과 같음 
print(first_row.index[3]) # 인덱싱 가능

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Age

In [30]:
print(first_row.values) #값
print(first_row.values[2]) #인덱싱 가능

['Chemist' '1920-07-25' '1958-04-16' 37]
1958-04-16

In [38]:
#기초 통계
ages = scientists['Age']
print(ages)
print("Max =",ages.max()) #정수일때
print("Min =",ages.min())
print("Avg =",ages.mean())
print("Std =",ages.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
Max = 61
Min = 37
Avg = 49.0
Std = 16.97056274847714

### 시리즈 다루기 - 응용

In [39]:
scientists = pd.read_csv("../데이터/scientists.csv")

In [48]:
print(len(scientists))
print(scientists.head())

8
                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist

In [43]:
# 조건으로 찾기 
ages = scientists['Age']
print("Max =",ages.max()) #정수일때
print("Min =",ages.min())
print("Avg =",ages.mean())
print("Std =",ages.std())

59.125
Max = 90
Min = 37
Avg = 59.125
Std = 18.325918413937288

In [46]:
print(ages[ages>ages.mean()]) # 평균보다 많은 나이 출력

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [49]:
print(ages>ages.mean()) #boolean으로 반환

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [51]:
#브로드 케스팅
print(ages+10)
print(ages*10)

0     47
1     71
2    100
3     76
4     66
5     55
6     51
7     87
Name: Age, dtype: int64
0    370
1    610
2    900
3    660
4    560
5    450
6    410
7    770
Name: Age, dtype: int64

### 데이터 프레임 다루기

In [63]:
print(scientists.loc[[True,False,True,False,True,False,True,False]]) # bool벡터
print("____________________________________________________________")
print(scientists['Age'])
print("____________________________________________________________")
bool_v = scientists['Age']>scientists['Age'].mean() 
print(scientists.loc[bool_v])

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
____________________________________________________________
0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
____________________________________________________________
                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician