In [1]:
import pandas as pd
scientists = pd.read_csv("../데이터/scientists.csv")

### 시리즈와 데이터 프레임 데이터 처리하기

In [6]:
print(scientists['Born'].dtype) #문자열 임
print(scientists['Died'].head(2))# 얘도

object
0    1958-04-16
1    1937-10-16
Name: Died, dtype: object

In [11]:
# 시간으로 바꿔 보자! #시간 작업을 해보자

Born_DateTime = pd.to_datetime(scientists['Born'],format='%Y-%m-%d') #년 월 일 로 포맷 지정
Died_DateTime = pd.to_datetime(scientists['Died'],format='%Y-%m-%d')
print(Born_DateTime.head(2))

0   1920-07-25
1   1876-06-13
Name: Born, dtype: datetime64[ns]

In [12]:
#수명을 구해서 새로운 열로 추가 해보자
scientists['Born_dt'] , scientists['Died_dt'] = (Born_DateTime,Died_DateTime)
print(scientists.head(2))

                Name        Born        Died  Age    Occupation    Born_dt  \
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1     William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13

     Died_dt
0 1958-04-16
1 1937-10-16

In [14]:
scientists['lifeTime_day'] = scientists['Died_dt']- scientists['Born_dt']
print(scientists.head(2))

                Name        Born        Died  Age    Occupation    Born_dt  \
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1     William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13

     Died_dt lifeTime_day
0 1958-04-16   13779 days
1 1937-10-16   22404 days

In [16]:
#열 삭제하기 
dropped_col = scientists.drop(['Age'],axis=1)
print(dropped_col.head(1))
print(scientists.columns)
print(dropped_col.columns) # Age 가 삭제됨

                Name        Born        Died Occupation    Born_dt    Died_dt  \
0  Rosaline Franklin  1920-07-25  1958-04-16    Chemist 1920-07-25 1958-04-16

  lifeTime_day
0   13779 days
Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'Born_dt', 'Died_dt',
       'lifeTime_day'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'Born_dt', 'Died_dt',
       'lifeTime_day'],
      dtype='object')

### 판다스 데이터를 저장하고 불러오기

In [17]:
# 만들어진 데이터프레임 을 저장 
names = scientists['Name']
names.to_pickle("../데이터/scientists_name_df.pickle")
scientists.to_pickle("../데이터/scientists_df.pickle")

In [18]:
#불러오기 
scientists_from_pickle = pd.read_pickle("../데이터/scientists_df.pickle")
print(scientists_from_pickle.head(3))

                   Name        Born        Died  Age    Occupation    Born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12

     Died_dt lifeTime_day
0 1958-04-16   13779 days
1 1937-10-16   22404 days
2 1910-08-13   32964 days

In [ ]:
#csv 도 입출력 같음