## 대용량 데이터를 직접 다운받아 불러와보자

#### 뉴욕 택시 데이터

In [1]:
import pandas as pd
import os
import urllib.request

In [2]:
with open('../데이터/raw_data_urls.txt','r') as data_urls:
    for line ,url in enumerate(data_urls):
        if line ==5:
            break
        fn = url.split('/')[-1].strip()
        fp = os.path.join('','../데이터',fn)
        print(url)
        print(fp)
        urllib.request.urlretrieve(url,fp)

https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv

../데이터\fhv_tripdata_2015-01.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-02.csv

../데이터\fhv_tripdata_2015-02.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-03.csv

../데이터\fhv_tripdata_2015-03.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-04.csv

../데이터\fhv_tripdata_2015-04.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-05.csv

../데이터\fhv_tripdata_2015-05.csv

In [3]:
import glob # 비슷한 이름은 다 불러옴 
nyc_taxi_data = glob.glob('../데이터/fhv_*')
print(nyc_taxi_data)

['../데이터\\fhv_tripdata_2015-01.csv', '../데이터\\fhv_tripdata_2015-02.csv', '../데이터\\fhv_tripdata_2015-03.csv', '../데이터\\fhv_tripdata_2015-04.csv', '../데이터\\fhv_tripdata_2015-05.csv']

In [8]:
taxi = []
for i in range(5): # 5개를 동시에 불러와 보자 ! 리스트로 추가 
    taxi1 = pd.read_csv(nyc_taxi_data[i])
    taxi.append(taxi1)
    print(taxi[i].head(3))

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-02-01 00:00:00         NaN
1               B00013  2015-02-01 00:01:00         NaN
2               B00013  2015-02-01 00:21:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00029  2015-03-01 00:02:00       213.0
1               B00029  2015-03-01 00:03:00        51.0
2               B00029  2015-03-01 00:11:00         3.0
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-04-01 04:30:00         NaN
1               B00001  2015-04-01 06:00:00         NaN
2               B00001  2015-04-01 06:00:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-05-01 04:30:00         NaN
1               B00001  2015-05-01 05:00:00         NaN
2               B00001  2015-05-01 05:05:00         NaN

In [10]:
taxi[1].shape ## 데이터가 꽤 크다

(3126401, 3)

In [11]:
taxi_concat = pd.concat(taxi) # 데이터 연결 
print(taxi_concat.shape) # 개 크 다

(17367717, 3)

In [12]:
taxi_concat

        Dispatching_base_num          Pickup_date  locationID
0                     B00013  2015-01-01 00:30:00         NaN
1                     B00013  2015-01-01 01:22:00         NaN
2                     B00013  2015-01-01 01:23:00         NaN
3                     B00013  2015-01-01 01:44:00         NaN
4                     B00013  2015-01-01 02:00:00         NaN
...                      ...                  ...         ...
4296062               B02821  2015-05-31 14:00:00         NaN
4296063               B02821  2015-05-31 14:32:00         NaN
4296064               B02821  2015-05-31 14:45:00         NaN
4296065               B02821  2015-05-31 17:44:00         NaN
4296066               B02821  2015-05-31 18:13:00         NaN

[17367717 rows x 3 columns]