In [1]:
import pandas as pd
import seaborn as sns
tips = sns.load_dataset("tips")

### 자료형을 변환하기

In [16]:
tips['sex'].dtypes

CategoricalDtype(categories=['Male', 'Female'], ordered=False)

In [17]:
tips['sex_str'] = tips['sex'].astype(str)
tips.head(4)

   total_bill   tip     sex smoker  day    time  size sex_str
0       16.99  1.01  Female     No  Sun  Dinner     2  Female
1       10.34  1.66    Male     No  Sun  Dinner     3    Male
2       21.01  3.50    Male     No  Sun  Dinner     3    Male
3       23.68  3.31    Male     No  Sun  Dinner     2    Male

In [19]:
tips.dtypes # 카테고리 -> 오브젝트(문자열) 로 바뀜

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [22]:
tips['tip']=tips['tip'].astype(str)
tips.dtypes

total_bill     float64
tip             object
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [23]:
tips['tip']=tips['tip'].astype(float)  # str로 바꿨다 다시 돌려놓기 가능 
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [29]:
tips_miss = tips.head(10)
tips_miss.loc[[1,3,5,7],'total_bill'] = 'missing'
tips_miss.head(6)
# missing 때문에 total_bill열이 문자열 로 바뀜

c:\anaconda\envs\mystudy\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male

In [30]:
# tips_miss = tips_miss['total_bill'].astype(float) 불가 (missing)str->float 변환은 안됨
tips_miss['total_bill'] = pd.to_numeric(tips_miss['total_bill'], errors='coerce') # 강제로 변환 하면  missing 이 NaN 으로 바뀜
print(tips_miss.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

c:\anaconda\envs\mystudy\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [32]:
# downcast , float64 -> float32 변환 등 더 적은 범위의 실수지만 더 적은 메모리 차지 
tips['total_bill'] = pd.to_numeric(tips['total_bill'],downcast='float')
tips.dtypes

total_bill     float32
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

### +추가) 카테고리 자료형

- 용량과 속도에서 효율적 

- 주로 동일한 문자열이 반복될때 사용